img {
    max-width: 100%;
}

.logo {
    height: 3rem;
    align-items: end;
}

.toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    gap: 1em;
}

.title
{
    padding-left: 200px;
}